
.images > img {
    width: 200px;
    margin-right: 10px;

}
.images {
    text-align: center;
}

.result > img {
    width: 200px;
}
.result {
    text-align: center;
}

#text {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

#msg  {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}